@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zek3zd');
  src:  url('fonts/icomoon.eot?zek3zd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zek3zd') format('truetype'),
    url('fonts/icomoon.woff?zek3zd') format('woff'),
    url('fonts/icomoon.svg?zek3zd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-electric_scooter:before {
  content: "\e915";
}
.icon-arrow-up:before {
  content: "\e912";
}
.icon-battery-charging:before {
  content: "\e903";
}
.icon-battery1:before {
  content: "\e904";
}
.icon-tools:before {
  content: "\e913";
}
.icon-options:before {
  content: "\e913";
}
.icon-repair:before {
  content: "\e913";
}
.icon-uber:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e906";
}
.icon-cosmetic:before {
  content: "\e907";
}
.icon-bitcoin:before {
  content: "\e900";
}
.icon-uber:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e906";
}
.icon-cosmetic:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-map-pin:before {
  content: "\e90b";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e911";
}
.icon-trim:before {
  content: "\e90d";
}
.icon-whatsapp:before {
  content: "\e90e";
}
.icon-woman-hair:before {
  content: "\e90f";
}
.icon-youtube:before {
  content: "\e910";
}
.icon-recycle:before {
  content: "\e914";
}
.icon-battery:before {
  content: "\e902";
}
.icon-battery1:before {
  content: "\e904";
}
.icon-battery2:before {
  content: "\e905";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-power-cord:before {
  content: "\e9b7";
}
